html {
    background-color: #30323f;
    font-family: 'Signika Negative', sans-serif;
}

button {
    background-color: #30323f;
    color: aliceblue;
    border-radius: 0.7rem;
    height: 30px;
}

select{
    width: 40%;
    height: 25px;
    background-color: #30323f;
    border-radius: 0.5rem;
    color: aliceblue;
}
input{
    border-radius: 0.3rem;
}
textarea{
    border-radius: 0.5rem;
    margin-top: 7px;
}

.content {
    max-width: 700px;
    
    flex-direction: column;
    justify-content: center;
    background-color: rgb(155, 147, 218);
    margin: 100px auto;
    padding: 20px;
    border-radius: 0.7rem;
}
.title-div{
    text-align: center;
    justify-content: center;
}
.input-output {
    display: flex;
    justify-content: space-around;
    
}
.input-div{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.key-div{
    display:flex;
    justify-content: space-evenly;
}
.text-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}
.display-div{
    text-align: center;
}

.algo-task-div{
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.submit_button{
    width: 90%;
    height: 25pt;
    font-size: medium;
    margin: 3px auto;
    
    
}
.output-div{
    padding:20px;
    min-width: 30%;
    justify-content: center;
}